<mat-card>
    <mat-card-content>
        <mat-card-header><mat-card-title>
                <h1>Finnkino uutisia</h1>

            </mat-card-title>
            <mat-card-subtitle>
                <input matInput placeholder="Kirjoita hakusana" [(ngModel)]="searchTerm">

            </mat-card-subtitle></mat-card-header>

        <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let item of cinemaData$ |async| movie: searchTerm">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ item.PublishDate | date:'yyyy-MM-dd' }}

                    </mat-panel-title>
                    <mat-panel-description>
                        {{item.Title}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                    <img src={{item.ImageURL}} width="250px">
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content></mat-card>