mat-expansion-panel,
mat-accordion,
mat-panel-title,
mat-panel-description {
    background-color: lightpink;
    color: black;
}

h1 {
    color: aliceblue;
}

mat-label {
    color: rgb(85, 0, 59);
}

mat-panel-description {
    text-align: start;

    @media screen and (max-width: 600px) {
        visibility: hidden;
    }
}