<p>
    <mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Front-end tools</span>
    </mat-toolbar>
</p>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/calculator" routerLinkActive="active">
        Calculator
    </button>
    <button mat-menu-item routerLink="/feedback" routerLinkActive="active">
        Give feedback
    </button>
    <button mat-menu-item routerLink="/templatedrivenform" routerLinkActive="active">
        Template driven form
    </button>
    <button mat-menu-item routerLink="/reactiveform" routerLinkActive="active">
        Reactive form
    </button>
</mat-menu>