<p>
    <mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Front-end työkalut</span>

        <span class="spacer"></span>
        <a routerLink="/admin/login" routerLinkActive="active" *ngIf="!(userEmail$ | async)">
            <button mat-raised-button>KIRJAUDU SISÄÄN</button>
        </a>
        <div *ngIf="(userEmail$ | async)">
            {{userEmail$|async}}
            <button mat-raised-button (click)="logOut()">KIRJAUDU ULOS</button>
        </div>

    </mat-toolbar>
</p>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/calculator" routerLinkActive="active">
        Laskin
    </button>
    <button mat-menu-item routerLink="/feedback" routerLinkActive="active">
        Palautelomake
    </button>
    <button mat-menu-item routerLink="/templatedrivenform" routerLinkActive="active">
        Template driven form
    </button>
    <button mat-menu-item routerLink="/reactiveform" routerLinkActive="active">
        Reactive form
    </button>
    <button mat-menu-item routerLink="/cinema" routerLinkActive="active">
        Elokuvauutiset
    </button>
    <button mat-menu-item routerLink="/admin/login" routerLinkActive="active">
        Kirjautumissivu
    </button>
    <button mat-menu-item routerLink="/lipunmyynti" routerLinkActive="active">
        Lipunmyynti
    </button>
</mat-menu>