<div class="content">
    <mat-card>
        <mat-card-content>
            <mat-card-header><mat-card-title>
                    <h1>Calculator</h1>
                </mat-card-title></mat-card-header>

            <mat-grid-list cols="4" rowHeight="2:1.5" gutterSize="5px">
                <mat-grid-tile colspan="4" rowspan="1">
                    {{result}}
                </mat-grid-tile>
                <mat-grid-tile class="tiles" *ngFor="let button of buttons">
                    <button mat-raised-button color="primary" (click)="calculate(button)">{{button}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>