<mat-card class="tdfCard">
    <mat-card-header><mat-card-title>Template driven form</mat-card-title></mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onSubmit(form1)" #form1="ngForm">
            <div class="formcontent">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Etunimi</mat-label>
                        <input matInput placeholder="Etunimi" name="fname" [(ngModel)]="currentPerson.firstName"
                            #fname="ngModel" required minlength="2" pattern="^[a-öA-Ö ]*$">
                        <mat-error *ngIf="fname.hasError('required')">Syötä etunimesi</mat-error>
                        <mat-error *ngIf="fname.hasError('minlength')">Vähintään 2 kirjainta</mat-error>
                        <mat-error *ngIf="fname.hasError('pattern')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Sukunimi</mat-label>
                        <input matInput placeholder="Sukunimi" name="lname" [(ngModel)]="currentPerson.lastName"
                            #lname="ngModel" required minlength="2" pattern="^[a-öA-Ö ]*$">
                        <mat-error *ngIf="lname.hasError('required')">Syötä sukunimesi</mat-error>
                        <mat-error *ngIf="lname.hasError('minlength')">Vähintään 2 kirjainta</mat-error>
                        <mat-error *ngIf="lname.hasError('pattern')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Henkilötunnus</mat-label>
                        <input matInput placeholder="Henkilötunnus" name="pID" [(ngModel)]="currentPerson.personId"
                            #pID="ngModel" required minlength="11"
                            pattern="^(0[1-9]|[12]\d|3[01])(0[1-9]|1[0-2])([5-9]\d\+|\d\d-|[01]\dA)\d{3}[\dA-Z]$">
                        <mat-error *ngIf="pID.hasError('required')">Syötä henkilötunnuksesi</mat-error>
                        <mat-error *ngIf="pID.hasError('minlength')">Täytyy olla 11 merkkiä</mat-error>
                        <mat-error *ngIf="pID.hasError('pattern')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Sähköposti</mat-label>
                        <input type=email matInput placeholder="Sähköposti*" name="email"
                            [(ngModel)]="currentPerson.email" #email="ngModel" required minlength="5"
                            pattern="^\S+@\S+\.\S{2,}$">
                        <mat-error *ngIf="email.hasError('required')">Syötä sähköpostiosoitteesi</mat-error>
                        <mat-error *ngIf="email.hasError('minlength')">Vähintään 5 merkkiä</mat-error>
                        <mat-error *ngIf="email.hasError('pattern')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Käyttäjätunnus</mat-label>
                        <input matInput placeholder="Käyttäjätunnus*" name="username"
                            [(ngModel)]="currentPerson.username" #username="ngModel" required minlength="5">
                        <mat-error *ngIf="username.hasError('required')">Syötä käyttäjätunnus</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">Vähintään 5 merkkiä</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Salasana</mat-label>
                        <input type="password" matInput placeholder="Salasana*" name="password"
                            [(ngModel)]="currentPerson.password" #password="ngModel" required minlength="8"
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
                        <mat-error *ngIf="password.hasError('required')">Enter your password</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Minimun 8 characters required</mat-error>
                        <mat-error *ngIf="password.hasError('pattern')">Must contain atleast 1 uppercase letter, 1
                            lowercase letter and 1 number.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Vahvista salasana</mat-label>
                        <input type="password" matInput placeholder="Salasana uudestaan*" name="password2"
                            [(ngModel)]="currentPerson.password2" #password2="ngModel" required
                            pattern="{{password.value}}">
                        <mat-error *ngIf="password2.hasError('required')">Syötä salasana uudestaan</mat-error>
                        <mat-error *ngIf="password2.hasError('pattern')">Ei vastaa salasanaa</mat-error>
                    </mat-form-field>

                    <mat-checkbox name="conditions" [(ngModel)]="currentPerson.conditions" #conditions="ngModel"
                        required>
                        Hyväksy käyttöehdot
                    </mat-checkbox>
                    <mat-error *ngIf="conditions.invalid && conditions.dirty">
                        <p><strong>VAADITTU</strong></p>
                    </mat-error>
                </div>
            </div>
            <button mat-raised-button color="accent" type="submit" [disabled]="form1.invalid">Lähetä</button>

        </form>

    </mat-card-content>
</mat-card>