<mat-card class="rfCard">
    <mat-card-header><mat-card-title>Reactive form</mat-card-title></mat-card-header>
    <mat-card-content>
        <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
            <div class="formcontent">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Etunimi</mat-label>
                        <input matInput placeholder="Etunimi" formControlName="firstname">
                        <mat-error *ngIf="firstname?.hasError('required')">Syötä etunimesi</mat-error>
                        <mat-error *ngIf="firstname?.hasError('minlength')">Vähintään 2 merkkiä</mat-error>
                        <mat-error *ngIf="firstname?.hasError('pattern')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Sukunimi</mat-label>
                        <input matInput placeholder="Sukunimi" formControlName="lastname">
                        <mat-error *ngIf="lastname?.hasError('required')">Syötä sukunimesi</mat-error>
                        <mat-error *ngIf="lastname?.hasError('minlength')">Vähintään 2 merkkiä</mat-error>
                        <mat-error *ngIf="lastname?.hasError('pattern')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Henkilötunnus</mat-label>
                        <input matInput placeholder="Henkilötunnus" formControlName="personId">
                        <mat-error *ngIf="personId?.hasError('required')">Syötä henkilötunnuksesi</mat-error>
                        <mat-error *ngIf="personId?.hasError('minlength')">Täytyy olla 11 merkkiä</mat-error>
                        <mat-error *ngIf="personId?.hasError('pattern')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Sähköposti</mat-label>
                        <input matInput placeholder="Sähköposti" formControlName="email">
                        <mat-error *ngIf="email?.hasError('required')">Syötä sähköpostiosoitteesi</mat-error>
                        <mat-error *ngIf="email?.hasError('email')">Tarkista kirjoitusmuoto</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Käyttäjätunnus</mat-label>
                        <input matInput placeholder="Käyttäjätunnus" formControlName="username">
                        <mat-error *ngIf="username?.hasError('required')">Syötä käyttäjätunnus</mat-error>
                        <mat-error *ngIf="username?.hasError('minlength')">Vähintään 5 merkkiä</mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline">
                        <mat-label>Salasana</mat-label>
                        <input matInput type="password" placeholder="Salasana" formControlName="password">
                        <mat-error *ngIf="password?.hasError('required')">Syötä salasana</mat-error>
                        <mat-error *ngIf="password?.hasError('minlength')">Vähintään 8 merkkiä</mat-error>
                        <mat-error *ngIf="password?.hasError('pattern')">Täytyy sisältää 1 pieni kirjain, 1 iso kirjain
                            ja 1 numero.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Vahvista salasana</mat-label>
                        <input matInput type="password" placeholder="Salasana uudestaan" formControlName="password2"
                            pattern="{{password?.value}}">
                        <mat-error *ngIf="password2?.hasError('required')">Syötä salasana uudestaan</mat-error>
                        <mat-error *ngIf="password2?.hasError('pattern')">Ei vastaa salasanaa</mat-error>
                    </mat-form-field>

                    <mat-checkbox formControlName="conditions">
                        Hyväksy käyttöehdot
                        <mat-error *ngIf="conditions?.invalid && conditions?.dirty">
                            <p><strong>VAADITTU</strong></p>
                        </mat-error>
                    </mat-checkbox>


                </div>
            </div>
            <div class="button">
                <button mat-raised-button color="accent" type="submit" [disabled]="ProfileForm.invalid">Lähetä</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>